html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: 'Libre Baskerville', serif;
    background-color: #faf3e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.inicio{
    margin-bottom: 80px;
}
.titulo{
    text-align: center;
    color: #00452b;
    font-size: 60px;
    margin-bottom: 0;
}

.titulo-2{
    text-align: center;
    color: #6b0f1a;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 30px;
}

.subtitulo{
    text-align: center;
    color: #00452b;
    font-size: 30px;
    margin-bottom: 25px;
}

.descricao{
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
}

button{
    display: block;
    margin: 20px auto 80px auto;
    padding: 15px 30px auto;
    font-size: 20px;
    background-color: #00452b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.menu{
    margin-bottom: 40px;
    color: #faf3e0;
    padding: 30px;
}

.inicio{
    margin-bottom: 80px;
    color: #faf3e0;
    padding: 80px 20px;
}

.cardapio{
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 80px;
    color: #005029;
    text-align: center;
    padding: 80px 20px;
}

.hospitalidade{
    background-color: #005029;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 80px 100px;
}

.hospitalidade-texto{
    max-width: 500px;
}

.hospitalidade-titulo{
    color: #f1b83a;

    font-size: 42px;
    line-height: 1.2;

    margin-bottom: 25px;
}

.hospitalidade-texto p{
    color: white;

    font-size: 22px;
    line-height: 1.7;
}

.hospitalidade-imagem{
    width: 500px;
    height: 320px;

    object-fit: cover;

    margin-left: 50px;
}

.fale-conosco{
    font-size: 42px;
    line-height: 1.2;

    text-align: center;
    color: #00542b;
}

.contato-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.info{
    text-align: center;
}

.info i{
    font-size: 30px;
    color: #00452b;
    margin-bottom: 10px;
}

.info p,
.info span{
    margin: 0;
}

.linha{
    width: 2px;
    height: 80px;
    background-color: #c79a3b;
}

.entrada-imagem{
    width: 500px;
    height: 320px;

    object-fit: cover;

    margin-left: 50px;
}

footer{
    background-color: #00452b;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer i{
    font-size: 32px;
    margin: 0 15px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

footer i:hover{
    transform: scale(1.1);
}

.texto-footer{
    font-size: 12px;
    opacity: 0.7;
    margin: 10;
}