:root {
    --verde: #00452b;
    --verde-claro: #005029;
    --vinho: #6b0f1a;
    --creme: #faf3e0;
    --dourado: #c79a3b;
    --dourado-claro: #f1b83a;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;

    font-family: 'Libre Baskerville', serif;
    background: var(--creme);

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.imagem-lateral {
    width: 500px;
    object-fit: cover;
    margin-left: 50px;
}

.botao {
    display: block;
    width: fit-content;

    margin: 20px auto 80px;

    padding: 20px 50px;

    background: var(--verde);
    color: white;

    border-radius: 30px;

    font-size: 20px;

    transition: .3s;
}

.botao:hover {
    transform: scale(1.03);
}

.menu {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90px;
    padding: 10px 60px;

    background: var(--creme);

    border-bottom: 1.5px solid rgba(0, 0, 0, .08);

    z-index: 1000;
}

.logo {
    width: 165px;
    height: auto;
    margin-top: 7%;
}

.menu-links {
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu-links a{
    transition: .3s;
}

.menu-links a:hover{
    color: var(--dourado);

    transform: translateY(-2px);
}

.menu-links i {
    font-size: 14px;
}

.inicio {
    position: relative;

    min-height: 700px;

    padding: 80px 20px;
    margin-bottom: 80px;

    color: white;
}

.banner-fundo {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;
}

.conteudo {
    position: relative;
    z-index: 2;

    text-align: center;

    padding-top: 150px;
}

.titulo-principal {
    margin: 0;
    font-size: 60px;
}

.verde {
    color: var(--verde);
}

.vinho {
    color: var(--vinho);
}

.subtitulo {
    color: var(--verde);

    font-size: 30px;

    margin-bottom: 25px;
}

.descricao {
    color: black;
    margin: 0 0 5px;
}

.vendidos {
    padding: 80px 20px;
    margin-bottom: 80px;

    text-align: center;

    color: var(--verde-claro);

    font-size: 42px;
}

.vendidos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;

    max-width: 1200px;

    margin: 0 auto;
    padding: 20px;
}

.card-prato,
.card-cardapio{
    background: white;

    overflow: hidden;

    border-radius: 15px;

    transition: .3s ease;

    cursor: pointer;

    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.card-prato:hover,
.card-cardapio:hover{
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,.15);
}

.card-prato img {
    width: 100%;
    height: 220px;

    display: block;

    object-fit: cover;

    border-radius: 8px;
}

.card-prato{
    background: white;

    box-shadow: 0 8px 20px rgba(0,0,0,.15);

    text-align: center;
}

.card-prato h3{
    margin: 20px 15px 10px;

    color: var(--verde);

    font-size: 24px;
}

.card-prato p{
    margin: 0 20px 20px;

    color: #555;

    font-size: 16px;

    line-height: 1.5;
}

.sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 100px;

    margin-bottom: 40px;

    background: var(--verde-claro);
}

.sobre-texto {
    max-width: 500px;
}

.sobre-titulo {
    color: var(--dourado-claro);

    font-size: 42px;

    margin-bottom: 25px;
}

.sobre-texto p {
    color: white;

    font-size: 22px;
    line-height: 1.7;
}

.sobre-imagem {
    height: 280px;
}

.fale-conosco {
    text-align: center;

    color: var(--verde-claro);

    font-size: 42px;
}

.contato-box {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 25px;

    margin-bottom: 40px;
}

.info {
    text-align: center;
}

.info i {
    color: var(--verde);

    font-size: 30px;

    margin-bottom: 10px;
}

.info p,
.info span {
    margin: 0;
}

.linha {
    width: 2px;
    height: 80px;

    background: var(--dourado);
}

.entrada-imagem {
    height: 320px;
}

footer {
    padding: 10px 0;

    background: var(--verde);

    color: white;

    text-align: center;
}

footer i {
    font-size: 32px;

    margin: 0 15px;

    cursor: pointer;

    transition: .3s;
}

footer i:hover {
    transform: scale(1.1);
}

.texto-footer {
    margin: 10px;

    font-size: 12px;

    opacity: .7;
}

.banner-cardapio{
    position: relative;

    min-height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.banner-cardapio img{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;
}

.banner-texto{
    position: relative;
    z-index: 2;
}

.banner-texto h1{
    margin: 0;

    color: var(--verde);

    font-size: 90px;
}

.banner-texto p{
    max-width: 700px;

    margin: 20px auto 0;

    font-size: 24px;
}

.area-cardapio{
    display: flex;

    gap: 40px;

    padding: 60px;
}

.categorias{
    width: 220px;

    display: flex;
    flex-direction: column;

    gap: 18px;
}

.categorias a{
    font-size: 20px;
    font-weight: 700;
}

.categoria-ativa{
    background: var(--verde);

    color: white;

    padding: 12px 20px;

    border-radius: 15px;
}

.area-pratos{
    flex: 1;
}

.topo-pratos{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.topo-pratos h2{
    color: var(--verde);

    margin: 0;
}

.grid-pratos{
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

.card-cardapio{
    background: white;

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.card-cardapio img{
    width: 100%;
    height: 200px;

    object-fit: cover;
}

.card-info{
    padding: 15px;
}

.card-info h3{
    margin: 0 0 10px;
}

.preco{
    margin-bottom: 15px;

    font-weight: bold;
}

.botao-card{
    width: 100%;

    padding: 15px;

    background-color: var(--verde);

    color: white;

    border: none;
    border-radius: 10px;

    font-size: 16px;

    cursor: pointer;

    transition: .3s;
}

.botao-card:hover{
    background-color: #00663f;

    transform: scale(1.03);

    box-shadow: 0 8px 20px rgba(0,69,43,.3);
}

.botao:hover{
    background-color: #00663f;

    transform: translateY(-4px);

    box-shadow: 0 10px 20px rgba(0,69,43,.25);
}

.mini-carrinho{

    position: fixed;

    right: 30px;
    bottom: 30px;

    z-index: 999;

}

.mini-carrinho a{

    position: relative;

    width: 75px;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--vinho);

    color: white;

    border-radius: 50%;

    font-size: 28px;

    box-shadow: 0 8px 25px rgba(0,0,0,.3);

    transition: .3s;

}

.mini-carrinho a:hover{

    transform: scale(1.1);

}

#contador-carrinho{

    position: absolute;

    top: -5px;
    right: -5px;

    width: 28px;
    height: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: red;

    color: white;

    border-radius: 50%;

    font-size: 14px;

    font-weight: bold;

}

.item-pedido{

    background: white;

    padding: 20px;

    margin-bottom: 20px;

    border-radius: 15px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    box-shadow: 0 8px 20px rgba(0,0,0,.1);

}

.item-pedido button{

    padding: 8px 12px;

    border: none;

    background: var(--verde);

    color: white;

    border-radius: 8px;

    cursor: pointer;

}

.pedido-total{

    font-size: 28px;

    font-weight: bold;

    color: var(--verde);

    margin-top: 40px;

}

.formulario-pedido{

    margin-top: 50px;

    display: flex;

    flex-direction: column;

    gap: 20px;

}

.formulario-pedido input{

    padding: 18px;

    border-radius: 10px;

    border: 1px solid #ddd;

    font-size: 16px;

}